#jinja2: lstrip_blocks: True, trim_blocks: True
{% set ospf_neighbor_entries = ospf_neighbors.stdout | from_json | json_query("response.result.entry") %}
{% if ospf_neighbor_entries %}
Neighbor Router ID, Neighbor Address, Status, Neighbor Priority, Area ID, Hello Suppressed, Lifetime Remain, Local Address Binding, LSA Request Pending, Messages Pending, Options, Restart Helper Exit Reason, Restart Helper Status, Restart Helper Time Remaining, Type, Virtual Router
{% for entry in ospf_neighbor_entries %}
{{ entry.get("neighbor-router-id") }}, {{ entry.get("neighbor-address") }}, {{ entry.get("status") }}, {{ entry.get("neighbor-priority") }}, {{ entry.get("area-id") }}, {{ entry.get("hello-suppressed") }}, {{ entry.get("lifetime-remain") }}, {{ entry.get("local-address-binding") }}, {{ entry.get("lsa-request-pending") }}, {{ entry.get("messages-pending") }}, {{ entry.get("options") }}, {{ entry.get("restart-helper-exit-reason") }}, {{ entry.get("restart-helper-status") }}, {{ entry.get("restart-helper-time-remaining") }}, {{ entry.get("type") }}, {{ entry.get("virtual-router") }}
{% endfor %}
{% else %}
Neighbor Router ID, Neighbor Address, Status, Neighbor Priority, Area ID, Hello Suppressed, Lifetime Remain, Local Address Binding, LSA Request Pending, Messages Pending, Options, Restart Helper Exit Reason, Restart Helper Status, Restart Helper Time Remaining, Type, Virtual Router
No OSPF neighbors found.
{% endif %}