#jinja2: lstrip_blocks: True, trim_blocks: True
{% set route_table_entries = route_table.stdout | from_json | json_query("response.result.entry") %}
{% if route_table_entries %}
Destination, Nexthop, Interface, Metric, Age, Flags, Route-Table, Virtual-Router
{% for route in route_table_entries %}
{{ route.destination }}, {{ route.nexthop }}, {{ route.interface }}, {{ route.metric }}, {{ route.age }}, {{ route.flags }}, {{ route.get("route-table") }}, {{ route.get("virtual-router") }}
{% endfor %}
{% else %}
Destination, Nexthop, Interface, Metric, Age, Flags, Route-Table, Virtual-Router
No route entries found.
{% endif %}