Current State: {{ inventory_hostname_short | upper }}

##### show system info ##############################

{% for key, value in (system_info.stdout | from_json | json_query("response.result.system")).items() %}
{{ key }}: {{ value }}
{% endfor %}


##### show high-availability state ##############################
{{ ha_state.stdout | from_json | json_query("response.result") | to_nice_json }}


##### show interface all ##############################

ID, Name, State, Status, Mode, Speed, Duplex, MAC, Type
{% for hw in interface_info.stdout | from_json | json_query("response.result.hw.entry") %}
{{ hw.get("id") }}, {{ hw.get("name") }}, {{ hw.get("state") }}, {{ hw.get("st") }}, {{ hw.get("mode") }}, {{ hw.get("speed") }}, {{ hw.get("duplex") }}, {{ hw.get("mac") }}, {{ hw.get("type") }}
{% endfor %}

ID, Name, IP, Addr, Addr6, Dyn, Tag, Zone, Fwd, vSys
{% for if in interface_info.stdout | from_json | json_query("response.result.ifnet.entry") %}
{{ if.get("id") }}, {{ if.get("name") }}, {{ if.get("ip") }}, {{ if.get("addr") }}, {{ if.get("addr6") }}, {{ if.get("dyn") }}, {{ if.get("tag") }}, {{ if.get("zone") }}, {{ if.get("fwd") }}, {{ if.get("vsys") }}
{% endfor %}


##### show arp all ##############################
{{ arp_cache.stdout | from_json | json_query("response.result") | to_nice_json }}


##### show routing route ##############################

Destination, Nexthop, Interface, Metric, Age, Flags, Route-Table, Virtual-Router
{% for route in route_table.stdout | from_json | json_query("response.result.entry") %}
{{ route.destination }}, {{ route.nexthop }}, {{ route.interface }}, {{ route.metric }}, {{ route.age }}, {{ route.flags }}, {{ route.get("route-table") }}, {{ route.get("virtual-router") }}
{% endfor %}

##### show vpn flow ##############################
{{ vpn_flow.stdout | from_json | json_query("response.result") | to_nice_json }}


##### show user user-id-agent statistics ##############################

Name, Connected, Host, Port, Usage, Version, vSys
{% for uid_agent in user_id_agent_stats.stdout | from_json | json_query("response.result.entry") %}
{{ uid_agent.get("@name") }}, {{ uid_agent.get("connected") }}, {{ uid_agent.get("host") }}, {{ uid_agent.get("port") }}, {{ uid_agent.get("usage") }}, {{ uid_agent.get("ver") }}, {{ uid_agent.get("vsys") }}
{% endfor %}


##### show user ts-agent statistics ##############################

Name, Connected, vSys
{% for ts_agent in ts_agent_stats.stdout | from_json | json_query("response.result.entry") %}
{{ ts_agent.get("@name") }}, {{ ts_agent.get("connected") }}, {{ ts_agent.get("vsys") }}
{% endfor %}


##### show panorama-status ##############################
{{ panorama_status.stdout | from_json | json_query("response.result") }}


##### show logging-status ##############################
{{ logging_status.stdout | from_json | json_query("response.result") }}